//- 
    =====================================================================
    * Jumbotron Partial
    *
    * Halaman Jumbotron
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.jumbotron
    .container
        .lead-copy
            h3
                | Premium
            h1
                | WordPress Ecommerce Theme
            p.lead
                | We build easy-to-use, customizable WordPress Ecommerce Themes
            a.btn.btn-cta Get Started
        img(src='#{img_dir}/hero.png')