//- 
    =====================================================================
    * Subscribe Partial
    *
    * Halaman Subscribe
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.subscribe
    .container
        h4
            | Get Our Latest Themes Updates
        .control-group
            .controls
                input(type='search', placeholder='Type your email here to subscribe')
                button.btn.btn-inverse(type='submit') Subscribe
