//- 
    =====================================================================
    * Why Partial
    *
    * Halaman Why
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.container.why
    h2
        | Why Tokopress?
    p.text-center
        | Tokopress is full feature, consectetur adipiscing elit. Mauris ac mauris semper, facilisis odio at, lobortis augue. Quisque vel arcu at neque ultricies euismod. Morbi orci eros, dictum quis lorem non.
    p.text-center
        a.btn-pointer(href='#')
            img(src='#{img_dir}/pointer-left.png', alt='')
            | Learn more