//- 
    =====================================================================
    * Header Partial
    *
    * Halaman header yang ada di bagian content.
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
.top
    .container
        a.logo-container(href="#")
            img(class="logo", src="#{img_dir}/logotokopress.png", alt="Tokopress")
            .logotype
                span.first-letter T
                | okopress
        ul.nav.nav-pills.pull-right
            li
                a(href='#')
                    | Support
            li
                a.login(href='#')
                    | Login