//- 
    =====================================================================
    * Index Content Page
    *
    * Halaman content index, halaman lain mirip dengan ini
    * 
    * @author Pratama Hasriyan <pratama@hasriyan.com>
    =====================================================================
extends layout/master
block content

    // JUMBOTRON
    include includes/jumbotron

    // SUBSCRIBE
    include includes/subscribe
    
    // WHY TOKOPRESS 
    include includes/why

    // FEATURES
    include includes/features

    // SHOWCASES
    include includes/showcases

    //TESTIMONI
    include includes/testimoni

    // MARKETING
    include includes/marketing

                
